{{ 'quick-order-list.css' | asset_url | stylesheet_tag }}

<script src="{{ 'quick-order-list.js' | asset_url }}" defer="defer"></script>

{% render 'quick-order-list', product: product, show_image: true, show_sku: true, is_modal: true %}

{% schema %}
{
  "name": "t:sections.quick-order-list.name",
  "limit": 1,
  "enabled_on": {
    "templates": ["product"]
  }
}
{% endschema %}

<div class="bqol-product-title" style="font-size: 1.3rem; font-weight: 600; color: #222;">{{ product.title }}</div>
<div class="bqol-product-price" style="font-size: 1.3rem; color: #ff6b35; font-weight: 700;">{{ product.price | money_with_currency }}</div>
